   body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: block;
}
.main{
    	height: 82.5%;
	width: 100%;
	display: block;
    margin: 0;
}
    .top {
	height: 17.5%;
	width: 100%;
	display: flex;
    background-color: red;
}
.item {
	height: 100%;
	width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t {
    height: 12.5%;
    width: 100%;
    display: flex;
     align-items: center;
    justify-content: center;
}
.h {
    height: 87.5%;
    width: 100%;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}